@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'Host Grotesk';
	src: url('./assets/font/HostGrotesk-VariableFont_wght.ttf')
		format('truetype');
}

body,
#root,
:root {
	height: 100%;
}

main {
	zoom: 200%;
	font-family: 'Host Grotesk', sans-serif;
}

.box {
	@apply rounded-lg bg-black bg-opacity-30 shadow-lg;
}

.text-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
