@import 'tailwindcss';

@theme {
	--color-petrik-1: #41988a;
	--color-petrik-2: #718935;
	--color-petrik-3: #99b18b;
}

@font-face {
	font-family: 'Host Grotesk';
	src: url('@/assets/font/HostGrotesk-VariableFont_wght.ttf')
		format('truetype');
}

body,
#root,
:root {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

main {
	zoom: 190%;
	font-family: 'Host Grotesk', sans-serif;
}

.box {
	@apply rounded-lg shadow-lg;
	background: rgba(0,0,0, 0.3);
}

.text-shadow {
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
}
