@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Host Grotesk';
    src: url('./assets/font/HostGrotesk-VariableFont_wght.ttf') format('truetype');
}

body, #root, :root {
    height: 100%;
}

main {
    zoom: 200%;
    font-family: 'Host Grotesk', sans-serif;
}

.box {
    @apply rounded-lg shadow-lg bg-black bg-opacity-30;
}